/* PERTENECE AL CSS MAIN*/
a {
  text-decoration: none;
  color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 247, 247);
}


* {
  margin: 0;
  padding: 0;
}

.buscador {
  display: flex;
  justify-content: space-between;
  background-color: rgba(82, 175, 79, 0.5);
  align-items: center;
  padding: 10px 40px;
}
.buscador form input {
  width: 300px;
  height: 25px;
  border: none;
  background-color: rgb(230, 237, 243);
  border-radius: 5px;
}
.cuerpo {
  padding: 0 0 50px 50px;
}
.articulos {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.materias {
  width: 240px;
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgba(95, 95, 95, 0.745);
  margin: 30px 0;
  box-shadow: 0px 0px 0px 0px;
  transition: all .3s ease;
}
.materias:hover{
  box-shadow: 0px 0px 20px -5px;
  border: 1px solid rgba(95, 95, 95, 0.245);
}
.materias img {
  width: 100%;
  border-radius: 5px;
}
.titulo {
  margin: 50px 0;
}
.adquirir {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
}
.adquirir a {
  text-decoration: none;
  color: black;
  background-color: #ea9e44;
  padding: 3px;
  border-radius: 10px;
}
.adquirir a:hover {
  background-color: #f58b0a;
}
.descuento {
  background-color: rgba(236, 21, 21, 60%);
  padding: 3px;
  border-radius: 8px 0 0 0;
}
.redes-sociales {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 10px;
  border-bottom: 5px solid white;
}
.redes-sociales img {
  width: 30px;
}
