.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Cambia el color de fondo de las flechas a negro */
}

.carousel-control-prev,
.carousel-control-next {
    color: black; /* Cambia el color del icono de las flechas a negro */
    top: calc(50% - 20px); /* Ajusta la posición vertical de las flechas */
}
h1 {
    font-family: monospace;
 color: black;
 font-size: 60px;
 border-bottom: 3px solid rgba(130, 224, 217, 0.5);

}
h2{
    font-family: sans-serif;
}


.adquirir-button {
    margin-top: 10px;
    background-color: #ffc107;
    border-radius: 10px;
    padding: 10px;
}

.adquirir-button a {
    color: white;
    text-decoration: none;
}

.descuento {
    margin: 0;
}


.btn-animado {
display: flex;
justify-content: flex-start;
align-items: center;
min-width: 260px;
padding: 8px 15px 8px 15px;
border-radius: 20px;
box-shadow: 0 0 12px 1px rgba(0, 0, 0, .15);
background-color: #fff;
border: 2px solid #2CA8B0;
cursor: pointer;
transition: all ease-in 150ms;
overflow: hidden;
font-weight: bold;
font-size: 14px;

}
.btn-animado i {
font-weight:lighter;
vertical-align: middle;
margin-right: 0.7rem;
font-size: 1.7rem;
opacity: 1;
}

.btn-animado:active {
background-color: #22848A;
}

.color-instagram {
width:20px ;
border: 2px solid #20c53c;
color: #fff;
background: linear-gradient(#27bb2e, #04ff50);
/* agregar sombra al texto para que se vea */
text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.color-instagram .tex-icono {
color: #ffffff;

}
.color-instagram:hover {
background: linear-gradient(#2bb132, #04ff50);
color: #fff;
width: 280px;
padding-left: 25px;
font-size: 15px;

}
.color-instagram:active {
background: linear-gradient(#2fc737, #04ff50);
}
.color-instagram:hover .tex-icono {
color: #fff;
}





.btn-animado.animacion-cuatro:hover i {
animation: anim-cuatro 250ms ease-in normal both;
transform: scale(0) rotate(0deg);
}
@keyframes anim-cuatro {
from {
    transform: scale(0) rotate(0deg) translateX(0);
}
to {
    transform: scale(2.1) rotate(-10deg) translateX(-.10rem);
}
}

a {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   a.learn-more {
    width: 12rem;
    height: auto;
   }
   
   a.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   a.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   a.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   a.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   a.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   a:hover .circle {
    width: 100%;
   }
   
   a:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   a:hover .button-text {
    color: #fff;
   }
