*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(14, 7, 7, 5%);
}
header{
    margin-top: 3%;
}
.titulo{
    display: flex;
    column-gap: 15px;
    padding: 2% 0 2% 15%;
    background-color: rgba(143, 142, 142, 60%);
}
.titulo img{
    width: 30px;
}
.cuerpo{
    display: flex;
    width: 100%;
}
.formulario{
    width: 50%;
    margin: 0 5%;
}
.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-top: 10%;
}
.input{
    width: 70%;
    max-width: 400px;
    height: 25px;
    margin-top: 15px;
}
input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
}
#descripcion{
    resize: none;
    height: 100px;
    width: 70%;
    max-width: 400px;
}
.desvincular{
    margin-top: 15px;
    width: 70%;
    max-width: 400px;
}
.desvincular, th, td{
    border: 2px solid rgba(22, 22, 22, 70%);
    border-collapse: collapse;
}
th, td{
    padding: 10px;
    text-align: left;
}
.desvincular img{
    width: 10px;
}
.desvincular a{
    color: black;
}
.formulario form label {
    color: rgb(11, 54, 3);
    font-size: 25px;
}
.imagen{
    background-color: rgba(151, 150, 150, 20%);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen img{
    width: 70%;
    max-width: 500px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 7%;
    margin-right: 7%;
    column-gap: 15px;
}
.boton {
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
}
.boton:hover {
    background-color: rgb(1, 158, 1);
  }
@media (max-width: 775px) {
    .imagen {
      display: none;
    }
    .formulario {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .formulario form {
      width: 100%;
    }
}