/* por favor cargueeeeeeeeeee */
body {
  background-color: rgb(248, 246, 246);
}
table,
th,
td {
  padding: 10px;
  border-collapse: collapse;
}
td > span {
  text-decoration: line-through;
  font-size: 12px;
}
.main-table {
  width: 95%;

  max-width: 1300px;
  background-color: rgba(224, 224, 224, 0.733);
  border-radius: 1rem;
  padding: 0;
  overflow: hidden;
  border: 0.5px solid rgba(224, 224, 224, 0.733);
}
.table-header {
  width: 100%;
  height: 40px;
  background-color: rgba(252, 252, 252, 0.633);
  padding: 10px;
  text-align: center;
}
.table-body {
  width: 96%;
  max-height: 89%;
  background-color: #fffb;
  margin: 8px auto;
  overflow: auto;
  border-radius: 1rem;
}
.table-regventa {
  width: 100%;
}
.tr-impar {
  background-color: rgba(211, 211, 211, 0.633);
}
.banner-curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 4px;
  justify-content: center;
  text-align: left;
  min-width: 350px;
}
.banner-curso > img {
  width: 90%;
  max-width: 150px;
}

.curso-txt {
  color: rgb(54, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 6px;
}
.curso-txt h5 {
  font-size: 16px;
  color: rgb(66, 66, 66);
  letter-spacing: 0.1em;
}
.curso-dto {
  display: flex;
  background-color: var(--primary-light2);
  padding: 2px;
  border-radius: 5px;
  color: var(--text-green);
  font-weight: 600;
  column-gap: 6px;
}
.curso-dto p {
  margin-bottom: 0 !important;
}
.add-horas {
  display: flex;
  justify-content: space-between;
  column-gap: 0px;
}
.add-horas input[type="number"] {
  border: 0;
  width: 80px;
}

.icon-horas {
  width: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-btn-regventa{
  display: flex;
  width: 90%;
  justify-content: flex-end;
  padding: 20px;
}
/*  */