* {
  margin: 0;
  padding: 0;
}
.gestionar-ventas {
  margin: 30px 0 0 50px;
}
.titulo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.titulo img {
  height: 15px;
}
.cuerpo {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: 30px;
}
.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.imagen img {
  width: 90%;
  max-width: 500px;
}
.botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
.botones a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  margin-bottom: 60px;
  background-color: rgb(4, 189, 4);
  width: 90%;
  max-width: 570px;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
}
.botones a:hover {
  border: 2px solid rgb(4, 189, 4);
  background-color: rgba(14, 7, 7, 1%);
  color: rgb(4, 189, 4);
}
@media (max-width: 600px) {
  .imagen {
    display: none;
  }
  .botones {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
