:root {
  --primary: rgb(52, 173, 68);
  --primary-light: rgba(99, 201, 112, 0.7);
  --primary-light2: #cbf7d5;
  --secundary: #ea9e44;
  --text-green: #3b7447;
}
section {
  padding: 50px 25px;
}
.h2sub {
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
}
body {
  padding: 0px;
}
