.container-niveles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}
.nivel-item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border-radius: 8px;
  background-color: aliceblue;
  box-shadow: rgba(23, 26, 27, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.nivel-item {
  position: relative;
  overflow: hidden; /* Asegura que el pseudo-elemento no se desborde */
}

.nivel-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 212, 212, 0.9); /* Cambia el valor alpha para ajustar la opacidad */
  top: 0;
  left: 0;
  opacity: 0; /* Hace que el pseudo-elemento sea transparente inicialmente */
  transition: opacity 0.3s; /* Agrega una transici칩n para suavizar el cambio de opacidad */
}
.nivel-item::after {
  /* C칩digo de entidad para el icono (puedes cambiarlo seg칰n tu necesidad) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el icono en el medio */
  font-size: 32px; /* Tama침o del icono */
  color: white; /* Color del icono */
  opacity: 0; /* Hace que el icono sea transparente inicialmente */
  transition: opacity 0.3s; /* Agrega una transici칩n para suavizar el cambio de opacidad */
}
.nivel-item:nth-child(1)::after{
  content: "游끤"; 
}
.nivel-item:nth-child(2)::after{
  content: "游"; 
}
.nivel-item:nth-child(3)::after{
  content: "游꿉"; 
}
.nivel-item:hover::before {
  opacity: 1; /* Hace que el pseudo-elemento sea completamente visible al hacer hover */
}
.nivel-item:hover::after {
  opacity: 1; /* Hace que el pseudo-elemento sea completamente visible al hacer hover */
}
.nivel-img {
  max-width: 100%;
  margin: 0;
}
.nivel-img img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.nivel-item span {
  margin: 0;
  width: 100%;
  text-align: center;
  margin: 4px 0px;
  font-weight: bold;
  color: rgba(31, 31, 31, 0.8);
}
