

.mi-clase-personalizada .swal2-popup {
    font-size: 16px !important;
    height: auto !important;
    padding-bottom: 4px !important;
    /* ejemplo para tati */

}

.swal2-popup h2 {
    margin-top: 8px !important;
    font-size: 18px !important;
}
