
.table-responsive {
    max-height: 400px;
    /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    /* Habilita el desplazamiento vertical */
}

.mi-clase-personalizada .swal2-popup {
    font-size: 16px !important;
    height: 70px !important;
    /* ejemplo para tati */

}

.swal2-popup h2 {
    margin-top: 8px !important;
    font-size: 18px !important;
}
