.h2titulo,
.agregarcurso,
.container-form-regventa,
.main-table {
  margin-left: 25px !important;
}
.h2titulo {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin-top: 20px;
}
.h2titulo img {
  width: 12px;
  height: 14px;
}
.agregarcurso {
  margin-top: 40px;
  background-color: var(--primary);
  width: 100%;
  max-width: 260px;
  padding: 2px 4px;
  color: white;
  background-color: rgb(85, 236, 143);
  border-radius: 8px;
}
.agregarcurso img {
  width: 14px;
  height: 14px;
}
.container-form-regventa {
  margin: 20px 0;
}
.container-form-regventa form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  grid-gap: 15px;
}
.container-form-regventa form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
}
.label-form {
  font-size: 20px;
  color: var(--text-green);
}

.label-form input {
  width: 100%;
  height: 25px;
}

@media screen and (max-width: 650px) {
  .container-form-regventa form {
    grid-template-columns: 1fr;
  }
}
