.row-registro form {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  column-gap: 50px;
}

.row-registro form .form-group {
  margin-bottom: 1rem;
  width: 90%;
  max-width: 400px;
  min-width: 300px;
}

.row-registro form .form-group input[type="submit"] {
  display: block;
}
